.header {
    padding-top: 95px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1620px;
}

.header-list {
    display: flex;
}

.header-item {
    position: relative;
    padding-bottom: 6px;
    margin-right: 86px;
    &:last-child{
        margin-right: 0;
    }

    &::after {
        position: absolute;
        width: 48px;
        height: 6px;
        content: '';
        background: #FEC62D;
        border-radius: 21px;
        bottom: 0;
        left: calc(50% - 24px);
        display: none;
    }

    &:hover {
        &::after {
            display: block;
        }
    }

    &:nth-child(1) {
        margin-right: 86px;

        &::after {
            display: block;
        }

        .header-item-link {
            color: var(--blue);
            font-weight: 700;
        }
    }
}

.header-item-link {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #404242;
    &:hover{
        color: var(--blue);
    }
}

.header-logo {
    color: var(--blue);
    font-weight: 800;
    font-size: 35px;
    line-height: 52px;
    margin-right: 309px;
    padding-left: 59px;
    position: relative;
    padding-bottom: 7px;

    &::after {
        position: absolute;
        width: 45px;
        height: 53px;
        content: '';
        background: url(../../img/logo.svg) no-repeat center center;
        left: 3px;
        top: -2px;
    }
}
.header-link{
    font-weight: 500;
font-size: 25px;
line-height: 38px;
color: #FFFFFF;
background-color: var(--blue);
padding: 21px 87px;
border-radius: 15px;
width: 271px;
margin-left: auto;
}